.App {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.DeleteIcon {

    padding: 3px;   
    transition: all;
    transition: ease-in-out;
}

.DeleteIcon :hover{

    color:red;
    transform: scale(110%);
   
}

.AddIcon {
    padding: 3px;
    color: rgb(0, 140, 255);
    transition-property: all;
    transition: ease-in-out;
    transition-duration: 300ms;
}

.AddIcon :hover{
    color: green;
    transform: scale(103%);
}

.onClickSkew :active{
    transform: skewy(5deg);
}